
<style type="text/css">
    .control-group .static-content {
        margin-top: 5px;
        font-weight: bold;
    }
</style>
{{#if isEditing}}
<div class="well span3" style="margin-left:0;height:900px">
  
  <div class="page-header">
  <h3>Event Details</h3>
</div>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Event Type</label>
      <div class="controls">
        <select class="span11">
          <option>Debts Collection</option>
          <option>After party</option>
          <option>Lunch</option>
          <option>CV Sales meeting</option>
          <option>Other</option>
        </select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Event Title</label>
      <div class="controls">
        {{input type="text" value=title size="50"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Description</label>
      <div class="controls">
        {{textarea value=desc size="500" rows="4"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Event Start Date</label>
      <div class="controls">
        {{input type="text" data-type="datepicker" value=start size="50"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Event End Date</label>
      <div class="controls">
        {{input type="text" data-type="datepicker" value=end size="50"}}
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox"/>
        <input type="checkbox"/> All day
      </div>
    </div>
    <div class="form-actions" style="margin-top:300px;">
      <button class="btn btn-default" {{action "Cancel"}}>
        Cancel
      </button>
      <button style="width: 60px" {{action "updateRecord"}} class="btn btn-primary">Save</button>

    </div>
  </form>
</div>
{{else}}
<div class="well span3" style="margin-left:0;height:900px">
  
      <div class="page-header">
  <h3>Event Details</h3>
</div>
  
  <button class="btn btn-default" {{action "edit"}}>
    <i class="icon-pencil"></i>
  </button>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Event Type</label>
      <div class="controls static-content">
        <span>Debts Collection</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Event Title</label>
      <div class="controls static-content">
        <span>{{title}}</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Description</label>
      <div class="controls static-content">
        <span>{{desc}}</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Event Start Date</label>
      <div class="controls static-content">
        <span>{{start}}</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="inputPassword">Event End Date</label>
      <div class="controls static-content">
        <span>{{end}}</span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox"/>
        <input type="checkbox"/> All day
      </div>
    </div>
  </form>
</div>
{{/if}}
<div class="span9">

  <h3>{{title}}</h3>

    <style type="text/css">
        .sharedWith .box {
            height: 75px;
            padding: 20px;
            background-color: #2466be;
        }

            .sharedWith .box a {
                color: #fff;
                font-size: 13px;
            }
    </style>
    <br />
    <div class="row">
        <h4>Shared With: </h4>
  <div class="sharedWith">
      <div class="span3 box">
          <a href="#">Muhammed Ibrahim</a>
      </div>
      <div class="span3 box">
          <a href="#">Hashim Aslam</a>
      </div>
            <div class="span3 box">
          <a href="#">Abdul Raheem</a>
      </div>
      <div class="span3 box">
          <a href="#">Naila K</a>
      </div>
  </div>
  </div>
  <div style="margin-top:200px">
    <div class="page-header">
      <h3>
        Followups
      </h3>
    </div>
    <div class="followupContainer">
      <div class="followup-title">
      </div>
      <div class="followups">
        <ul>
          <li id="fk84_74395">
            <p>
              <span class="text-info commenter">Muhammed Irshad</span>
              <span class="muted comment-date">12/11/2013 04"35 am</span>
            </p>
            <p>
              <span class="comment">Please remember to collect in time, thank you.</span>
              <span class="comment-editor">
                <i class="icon-trash"></i>
                <i class="icon-pencil"></i>
                <span class="ticker"></span>
              </span>
            </p>
          </li>



          <li id="fk84_74f395">
            <p>
              <span class="text-info commenter">Muhammed Irshad</span>
              <span class="muted comment-date">12/11/2013 04"35 am</span>
            </p>
            <p>
              <span class="comment">Please remember to collect in time, thank you.</span>
            </p>
          </li>



          <li id="fk84_743cg95">
            <p>
              <span class="text-info commenter">Muhammed Irshad</span>
              <span class="muted comment-date">12/11/2013 04"35 am</span>
            </p>
            <p>
              <span class="comment">Please remember to collect in time, thank you.</span>
            </p>
          </li>

        </ul>
      </div>
      <div class="followupForm">
        <textarea placeholder="leave a Followup..." id="txtnewComment" class="span7" rows="6"></textarea>
        <br/>
        <button id="postfollowUp" style="margin-bottom: 10pxposition: absolute;right: 615px;" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>

  </div>


</div>